<div id="fourth-site" class="fourth-site">
    <div class="description">
        <div class="me-img-container">
            <img src="./assets/img/me.jpg">
        </div>
        <div class="headline-description">
            <h2>About me.</h2>
            <div class="span">
                <span>I am a German speaking Web Developer with experience in building web apps with JavaScript & Angular.</span>
            </div>
        </div>
    </div>
    <div class="way-div">
        <div><div class="icon-div"><img src="./assets/img/icons/walk.png"></div><span>My great enthusiasm for IT started during a foreign assignment in Shanghai. I was amazed by the technological progress in the city.</span></div>
        <div><div class="icon-div"><img src="./assets/img/icons/heart.png"></div><span>I love to take on new challenges and expand my horizons continuously.</span></div>
        <div><div class="icon-div"><img src="./assets/img/icons/search.png"></div><span>I was searching for a possibility to educate myself in a future field. That's why I chose the Developer Academy to work directly on projects.</span></div>
        <div><div class="icon-div"><img src="./assets/img/icons/plane.png"></div><span>I am looking forward to the new opportunities that this education will give me and I will continue to work hard on new tasks.</span></div>
    </div>
</div>