<div id="fourth-site" class="fourth-site">
    <div class="description">
        <div class="me-img-container">
            <img src="./assets/img/me.jpg">
        </div>
        <div class="headline-description">
            <h2>About me.</h2>
            <div class="span">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet porro tempore consectetur provident
                    explicabo a deserunt. Error, ratione! Quasi possimus adipisci dolorum illo. Quos cumque voluptas
                    eligendi autem explicabo illum.</span>
            </div>
        </div>
    </div>
    <div class="way-div">
        <div><div class="icon-div"><img src="./assets/img/icons/walk.png"></div><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores aliquam quis pariatur. Beatae alias ducimus eius accusamus voluptatum vitae at quisquam incidunt veniam facilis, fuga sunt, iure rem necessitatibus eligendi!</span><span>1234</span></div>
        <div><div class="icon-div"><img src="./assets/img/icons/heart.png"></div><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores aliquam quis pariatur. Beatae alias ducimus eius accusamus voluptatum vitae at quisquam incidunt veniam facilis, fuga sunt, iure rem necessitatibus eligendi!</span><span>1234</span></div>
        <div><div class="icon-div"><img src="./assets/img/icons/search.png"></div><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores aliquam quis pariatur. Beatae alias ducimus eius accusamus voluptatum vitae at quisquam incidunt veniam facilis, fuga sunt, iure rem necessitatibus eligendi!</span><span>1234</span></div>
        <div><div class="icon-div"><img src="./assets/img/icons/plane.png"></div><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores aliquam quis pariatur. Beatae alias ducimus eius accusamus voluptatum vitae at quisquam incidunt veniam facilis, fuga sunt, iure rem necessitatibus eligendi!</span><span>1234</span></div>
    </div>
</div>