<div id="second-site"  class="second-site">
    <div class="h2-container">
        <h2>MY Skills</h2>
    </div>
    <div class="skill-icons-container">
        <div class="mat-card-container">
            <mat-card>Java script<div><img src="./assets/img/icons/javascript.svg"></div></mat-card>
            <mat-card>Angular<div><img src="./assets/img/icons/angular.svg"></div></mat-card>
            <mat-card>HTML / CSS<div><img src="./assets/img/icons/html.svg"></div></mat-card>
        </div>
        <div class="mat-card-container">
            <mat-card>SCRUM<div><img src="./assets/img/icons/scrum.svg"></div></mat-card>
            <mat-card>Git<div><img src="./assets/img/icons/git.svg"></div></mat-card>
            <mat-card>Desing <br> Thinking<div><img src="./assets/img/icons/pen.png"></div></mat-card>
        </div>
        <div class="mat-card-container">
            <mat-card>Rest API<div><img src="./assets/img/icons/api.png"></div></mat-card>
            <mat-card>Test <br> automation<div><img src="./assets/img/icons/test_automation.png"></div></mat-card>
            <mat-card>Databases<div><img src="./assets/img/icons/database.png"></div></mat-card>
        </div>
    </div>
</div>