header {
    background-color: black;
    min-height: 20vh;
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        height: 75px;
        cursor: pointer;
    }

    a {
        color: white;
        text-decoration: none;
        margin-left: 32px;
        font-size: 20px;
        &:hover {
            color: #FA2759;
        }
    }
}

button {
    text-align: end;
    a {
        text-decoration: none !important;
        color: white;
    }
}

::ng-deep.mat-menu-panel {
    background-color: unset;
    display: none;
}
mat-icon {
    color: white;
    font-size: 30px !important;
}

.mat-icon-button {
    display: none;
}

@media (max-width: 970px) {
    header {
        padding-left: 20px;
        padding-right: 20px;
    }
    }
    @media (max-width: 600px) {
        header {
            padding-left: 20px;
            padding-right: 20px;
        }
        .navigation {
            display: none;
        }
        .mat-icon-button {
            display: unset;
        }
        ::ng-deep.mat-menu-panel {
            
            display: unset;
        }
        }
