<div id="fith-site" class="fith-site">
    <div class="contact-form">
        <div class="contact-me-div">
            <span class="contact-me">Contact me.</span>
            <span class="mailing">Get in touch via the form below, or by emailing  <a href="mailto:lorenz-fuchs@web.de">lorenz-fuchs@web.de</a>  </span>
        </div>
        <div>
            <form method="post" action="http://lorenz-fuchs.developerakademie.net/send_mail.php">
                <div><label>Name</label><input name="name" required type="text" placeholder="Enter your name"></div>
                <div><label>Email address</label><input name="email_address" required type="email" placeholder="Enter your Email address"></div>
                <div><label>Message</label><textarea name="message" required placeholder="Enter your message"></textarea></div>
                <div class="contact-me-btn-container">
                    <button type="submit" class="contact-me-btn">Send</button>
                </div>
            </form>
        </div>
        
    </div>
    
</div>