<div class="first-site">
    

    <div class="me-container">
        <div>
            <div>
                <h1><span>Hi,</span><br>
                    <span>I´m </span> <span class="name-color">Lorenz</span><span> Fuchs </span><br>
                    <span>Front End develop</span> <span class="letter-color">e</span><span>r</span>
                </h1>
            </div>
            <div class="contact-me-btn-container">
                <a href="#fith-site"><button class="contact-me-btn">Contact me</button></a>
            </div>
        </div>
        <div class="me-img-container">
            <img src="./assets/img/me.jpg" alt="">
        </div>
    </div>
    <div class="icon-container">
        <a href="#second-site"><div class="arrow-down-icon-container">
            <span
                 class="material-icons">
                keyboard_arrow_down
            </span>
            
        </div></a>
        


    </div>
</div>
<app-skills-second-site></app-skills-second-site>
<app-work-third-site></app-work-third-site>
<app-about-me-fourth-site></app-about-me-fourth-site>
<app-contact-fith-site></app-contact-fith-site>
<app-footer></app-footer>